<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add person</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
</head>
<body>
	<div>
		<form action="/add-person" method="post">
			<table border="1">
				<tr>
					<td>Name</td>
					<td><input name="name"></td>
				</tr>
				<tr>
					<td>Surname</td>
					<td><input name="surname"></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><select name="gender" value="Male">
							<option>Male</option>
							<option>Female</option>
					</select></td>
				</tr>
				<tr>
					<td>birthday (DD-MM-YYYY)</td>
					<td><input name="birthday" type="date"></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" value="Save"></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><a href="/list-persons">To list</a></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>