<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Boot Thymeleaf + Spring Security</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="container">
		<div class="starter-template">
			<h1>Spring Boot Web Thymeleaf + Spring Security</h1>
			<ul>
				<li><a th:href="@{/admin}">Admin</a></li>
				<li><a th:href="@{/user}">User</a></li>
				<li><a th:href="@{/about}">About</a></li>
			</ul>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>