<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Person List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
</head>
<body>
	<div id="app"></div>
	<table class="table-list">
		<thead>
			<tr>
				<th th:text="#{column.id}">#</th>
				<th th:text="#{column.name}">Name</th>
				<th th:text="#{column.sname}">Surname</th>
				<th th:text="#{column.gender}">Gender</th>
				<th th:text="#{column.created}">Created</th>
				<th th:text="#{column.bd}">Birthday</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pers: ${persons}">
				<td th:text="${pers.id}">1</td>
				<td th:text="${pers.name}">Name</td>
				<td th:text="${pers.surname}">Surname</td>
				<td th:text="${pers.gender}">Male</td>
				<td th:text="${#dates.format(pers.created, 'dd-MM-yyyy HH:mm')}">22 June 20120</td>
				<td th:text="${#dates.format(pers.birthday, 'dd MMMM yyyy')}">22 May 1970</td>
				<td><a th:href="@{'/del-person/'+${pers.id}}" th:text="#{action.delete}">Delete</a></td>
			</tr>
			<tr>
				<td colspan="7"><a th:href="@{/add-person/}" th:text="#{action.add}">Insert</a></td>
			</tr>
		</tbody>
	</table>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	<script th:src="@{/js/app.js}"></script>
</body>
</html>